USE [master]
GO
/****** Object:  Database [LayerOfficelastversion.Models.LayerEntities]    Script Date: 6/27/2019 12:32:49 AM ******/
CREATE DATABASE [LayerOfficelastversion.Models.LayerEntities]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LayerOfficelastversion.Models.LayerEntities', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LayerOfficelastversion.Models.LayerEntities.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LayerOfficelastversion.Models.LayerEntities_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LayerOfficelastversion.Models.LayerEntities_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LayerOfficelastversion.Models.LayerEntities].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LayerOfficelastversion.Models.LayerEntities]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/27/2019 12:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 6/27/2019 12:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tittle] [nvarchar](max) NULL,
	[Money] [int] NOT NULL,
	[F_ID] [int] NOT NULL,
	[Billdate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.Bills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/27/2019 12:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[File_Layer]    Script Date: 6/27/2019 12:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Layer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[F_ID] [int] NOT NULL,
	[L_ID] [int] NOT NULL,
	[Numofhour] [int] NOT NULL,
 CONSTRAINT [PK_dbo.File_Layer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 6/27/2019 12:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tittle] [nvarchar](max) NULL,
	[specification] [nvarchar](max) NULL,
	[dateofopenfile] [datetime] NOT NULL,
	[C_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Files] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[layers]    Script Date: 6/27/2019 12:32:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[layers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.layers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([ID], [Tittle], [Money], [F_ID], [Billdate]) VALUES (1, N'bill1', 100, 3, CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Bills] ([ID], [Tittle], [Money], [F_ID], [Billdate]) VALUES (2, N'bill2', 1000, 2, CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Bills] ([ID], [Tittle], [Money], [F_ID], [Billdate]) VALUES (5, N'bill1', 1008, 4, CAST(N'2019-06-26 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bills] OFF
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [Name], [Phone]) VALUES (1, N'manal', N'01286735772')
INSERT [dbo].[Clients] ([ID], [Name], [Phone]) VALUES (2, N'krkr1', N'0123456789')
INSERT [dbo].[Clients] ([ID], [Name], [Phone]) VALUES (3, N'nono', N'01234567895')
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[File_Layer] ON 

INSERT [dbo].[File_Layer] ([ID], [F_ID], [L_ID], [Numofhour]) VALUES (1, 3, 1, 4)
INSERT [dbo].[File_Layer] ([ID], [F_ID], [L_ID], [Numofhour]) VALUES (2, 1, 2, 11)
INSERT [dbo].[File_Layer] ([ID], [F_ID], [L_ID], [Numofhour]) VALUES (3, 1, 2, 8)
SET IDENTITY_INSERT [dbo].[File_Layer] OFF
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([ID], [Tittle], [specification], [dateofopenfile], [C_ID]) VALUES (1, N'issue1', N'for issue1', CAST(N'2019-06-25 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Files] ([ID], [Tittle], [specification], [dateofopenfile], [C_ID]) VALUES (2, N'issue1', N'for issue1', CAST(N'2019-06-25 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Files] ([ID], [Tittle], [specification], [dateofopenfile], [C_ID]) VALUES (3, N'issue4', N'for issue4', CAST(N'2019-06-19 00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Files] OFF
SET IDENTITY_INSERT [dbo].[layers] ON 

INSERT [dbo].[layers] ([ID], [Name], [Phone]) VALUES (1, N'ahmed', N'01234567895')
INSERT [dbo].[layers] ([ID], [Name], [Phone]) VALUES (2, N'ali', N'01234567890')
INSERT [dbo].[layers] ([ID], [Name], [Phone]) VALUES (3, N'ENGY1', N'01234567890')
SET IDENTITY_INSERT [dbo].[layers] OFF
/****** Object:  Index [IX_F_ID]    Script Date: 6/27/2019 12:32:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_F_ID] ON [dbo].[Bills]
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_F_ID]    Script Date: 6/27/2019 12:32:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_F_ID] ON [dbo].[File_Layer]
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L_ID]    Script Date: 6/27/2019 12:32:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_L_ID] ON [dbo].[File_Layer]
(
	[L_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_C_ID]    Script Date: 6/27/2019 12:32:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_C_ID] ON [dbo].[Files]
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bills_dbo.Files_F_ID] FOREIGN KEY([F_ID])
REFERENCES [dbo].[Files] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_dbo.Bills_dbo.Files_F_ID]
GO
ALTER TABLE [dbo].[File_Layer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Fill_Layer_dbo.Files_F_ID] FOREIGN KEY([F_ID])
REFERENCES [dbo].[Files] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[File_Layer] CHECK CONSTRAINT [FK_dbo.Fill_Layer_dbo.Files_F_ID]
GO
ALTER TABLE [dbo].[File_Layer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Fill_Layer_dbo.layers_L_ID] FOREIGN KEY([L_ID])
REFERENCES [dbo].[layers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[File_Layer] CHECK CONSTRAINT [FK_dbo.Fill_Layer_dbo.layers_L_ID]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Files_dbo.Clients_C_ID] FOREIGN KEY([C_ID])
REFERENCES [dbo].[Clients] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_dbo.Files_dbo.Clients_C_ID]
GO
USE [master]
GO
